__pycache__/
*.pyc
*.cache.pt
*.cache.pt.stats.json
*.extxyz
!examples/**/*.extxyz
dataset.extxyz
base.cache.pt
*.dump
*.log
*.out
*.err
*.aselog
*.DONE
.al_status
.scratch_al_status
run/
*.bin
!lammps/**
*.pt
config.yaml
!examples/**/config.yaml
build*/
lmp
